@use '../../styles/variables' as v;

.result {
  border-radius: 0.5rem;

  &__repos {
    text-align: left;
  }

  .ui {
    .row {
      .column {
        display: flex !important;
        justify-content: center;
        text-align: left;
      }
    }
  }

  .card {
    word-wrap: break-word;
    .description {
      max-height: 9rem;
      overflow: hidden;
    }
  }
}
