@use '../../styles/variables' as v;

.app {
  width: 65%;
  background-color: v.$color-grey;
  margin: v.$margin-centered;
  text-align: center;
  min-height: 100vh;

  .container {
    width: 95%;
    background-color: v.$color-light;
    margin: v.$margin-centered;
    border-radius: 0.5rem;
    padding: v.$gap-default 0;
    margin-bottom: v.$gap-default;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

    &__wrapper {
      margin-bottom: v.$gap-default;
      width: 95%;
      margin: v.$margin-centered;
    }
  }
}
