@use '../../styles/variables' as v;

.app {
  width: 65%;
  background-color: #edf0f1;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;

  .container {
    width: 95%;
    background-color: white;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

    &__wrapper {
      margin-bottom: 2rem;
      width: 95%;
      margin: 0 auto;
    }
  }
}
