@use '../../styles/variables' as v;

.result {
  border-radius: 0.5rem;

  &__number {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: v.$gap-default;
    border-bottom: 1px solid v.$color-primary;

    span {
      font-weight: bold;
      color: v.$color-primary;
    }
  }

  .ui {
    .row {
      .column {
        display: flex !important;
        justify-content: center;
        text-align: left;
      }
    }
  }
}
